<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

{% if page.format_maths %}
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ["\\(", "\\)"]],
            }
        }
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}

<script>
    // wraps the header in an anchor navigating back to index
    function wrap(el, wrapper) {
        el.parentNode.insertBefore(wrapper, el);
        wrapper.appendChild(el);
    }
    window.onload = function() {
        const anchor = document.createElement('a')
        anchor.href = '/'
        anchor.id = 'back-to-index'
        wrap(document.querySelector('header.page-header'), anchor);
    };
</script>

<style>
    a#back-to-index:hover {
        text-decoration: none;
    }
    header.page-header {
        padding-top: 30px;
        padding-bottom: 30px;
    }
</style>

<!-- end custom head snippets -->